<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img *ngIf="tape.object.cover" src="{{tape.object.cover.url}}" class="card-img"
           alt="{{tape.originalTitle}}">
    </div>
    <div class="col-md-8">
      <div class="card-header">
        <ul class="list-inline">
          <li *ngIf="viewed" class="list-inline-item">
            <fa-icon [icon]="faCheckCircle" title="viewed"></fa-icon>
          </li>
          <li *ngIf="whichListed" class="list-inline-item">
            <fa-icon [icon]="faClipboardList" title="save in which list"></fa-icon>
          </li>
          <li class="list-inline-item">
            <a (click)="addTapeUser()" title="edit tape user relations">
              <fa-icon [icon]="faPlusCircle"></fa-icon>
            </a>
          </li>
          <li *ngIf="viewed" class="list-inline-item">
            <a (click)="toggleVisibility()" title="toggle visibility">
              <fa-icon [icon]="faCloudSun"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a [routerLink]="['/search-images', tape.originalTitle, tape.object.objectId]" title="search images">
              <fa-icon [icon]="faImages"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{{tape.object.imdbNumber.url}}" target="_blank" title="go to Imdb">
              <fa-icon [icon]="faLink"></fa-icon>
            </a>
          </li>
        </ul>
        <ul class="list-inline">
          <ng-container *ngIf="seasons && seasons.length">
            <li *ngFor="let season of seasons" class="list-inline-item">
              <a [routerLink]="['/tv-show-chapter', tape.tapeId, season.number]" title="see season chapters">
                S{{season.code}}
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="tape.tvShow">
            <li class="list-inline-item">
              <a [routerLink]="['/import-imdb-episode', tape.object.imdbNumber.imdbNumber]" title="import episodes">
                <fa-icon [icon]="faFileImport"></fa-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a (click)="toggleFinishedStatus()" title="toggle Tv Show finish status">
                <fa-icon [icon]="faHourglassEnd"></fa-icon>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{tape.originalTitle}}</h5>
        <ng-container *ngIf="tape.tvShow && tape.tvShow.summaryByUser">
          <p *ngIf="tape.tvShow.summaryByUser.viewedChapter as chapter">
            Last viewed chapter S{{pad(chapter.season)}}E{{pad(chapter.chapter)}}
          </p>
          <p *ngIf="tape.tvShow.summaryByUser.importedChapter as chapter">
            Last chapter S{{pad(chapter.season)}}E{{pad(chapter.chapter)}}
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
