<ng-container *ngIf="places; else spinner">
  <div [formGroup]="placeForm" class="form-group mx-sm-3 mb-2">
    <label for="place">Where?</label>
    <select class="form-control" id="place" formControlName="place"
            [ngClass]="{ 'is-invalid': submitted && f.place.errors }">
      <option *ngFor="let place of places" [ngValue]="place">
        {{ place.description }}
      </option>
    </select>
    <div *ngIf="submitted && f.place.errors" class="invalid-feedback">
      <div *ngIf="f.place.errors.required">Place is required</div>
    </div>
  </div>
</ng-container>
<ng-template #spinner>
  <div class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
