<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">
      <fa-icon [icon]="faHome"></fa-icon>
    </a>
    <a class="nav-item nav-link" routerLink="/search">
      <fa-icon [icon]="faSearch"></fa-icon>
    </a>
    <a class="nav-item nav-link" routerLink="/import-imdb-movie" title="import tape">
      <fa-icon [icon]="faFileImport"></fa-icon>
    </a>
    <a class="nav-item nav-link" routerLink="/tv-show" title="subscribed TV Shows">
      <fa-icon [icon]="faVideo"></fa-icon>
    </a>
    <a class="nav-item nav-link" routerLink="/downloaded" title="downloaded tapes">
      <fa-icon [icon]="faDownload"></fa-icon>
    </a>
    <a class="nav-item nav-link" routerLink="/last-seen-tapes" title="last seen tapes">
      <fa-icon [icon]="faEye"></fa-icon>
    </a>
    <a class="nav-item nav-link" (click)="logout()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron p-4">
  <div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p><fa-icon [icon]="faCopyright"></fa-icon> 2020</p>
</div>
