<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>
          <input type="text" formControlName="pattern" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pattern.errors }" />
        </label>
        <div *ngIf="submitted && f.pattern.errors" class="invalid-feedback">
          <div *ngIf="f.pattern.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="searching" class="btn btn-primary">
          <span *ngIf="searching" class="spinner-border spinner-border-sm mr-1"></span>
          Search
        </button>
      </div>
    </form>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial" target="_top">Angular 8 - User Registration and Login Example & Tutorial</a>
  </p>
  <p>
    <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div>
