<div class="col mb-4 tape-card">
  <div class="card h-100">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img *ngIf="tape.object.thumbnail; else missingImage" src="{{tape.object.thumbnail.url}}" class="card-img"
             alt="{{tape.originalTitle}}">
      </div>
      <div class="col-md-8">
        <div class="card-header">
          <a [routerLink]="['/tape', tape.tapeId]" class="btn btn-primary m-1">
            <fa-icon [icon]="faInfo"></fa-icon>
          </a>
          <a href="{{tape.object.imdbNumber.url}}" target="_blank" class="btn btn-warning m-1">
            <fa-icon [icon]="faLink"></fa-icon>
          </a>
          <a (click)="deleteFromWishList(tape.tapeId)" class="btn btn-dark m-1">
            <fa-icon [icon]="faTrash"></fa-icon>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{tape.originalTitle}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #missingImage>
  <div class="text-center h1 mt-5">
    <fa-icon [icon]="faKissBeam"></fa-icon>
  </div>
</ng-template>
