@import "~bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}
a:not([href]) {
  color: #007bff;
}
a:not([href]):hover {
  color: #0056b3;
}
.container{
  max-width: 100%;
}
.card-list-image-div{
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
}
