<h1>Hi {{currentUser.oauthUser.firstName}}!</h1>
<p>You're logged in with Angular 9!!</p>
<ng-container *ngIf="currentUser.wishList">
  <ul>
    <li *ngFor="let wishList of currentUser.wishList">
      <a [routerLink]="['/tape', wishList.tape.tapeId]">
        {{wishList.tape.originalTitle}}
      </a>
    </li>
  </ul>
</ng-container>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
