<h1>Hi {{currentUser.oauthUser.firstName}}!</h1>
<p>This is your wish list!!</p>
<ng-container *ngIf="currentUser.wishList">
  <div class="row row-cols-1 row-cols-md-3">
    <app-tape-list-card *ngFor="let wishList of currentUser.wishList" [tape]="wishList.tape"></app-tape-list-card>
  </div>
</ng-container>
<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
